Repository kos3l/burger-hunt: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, npm run check-types, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "eslint"],
  "**/*.tsx": ["npm run check-types"],
  "**/*.ts": ["npm run check-types"],
  "*.{json,yaml}": ["prettier --write"]
}

testtt33222222
  .lintstagedrc.json
Due: prettier --write

t2
  .gitignore
  .lintstagedrc.json
  src/app/(entry)/page.tsx
Due: eslint --fix, eslint, npm run check-types, prettier --write

t2
  .lintstagedrc.json
Due: prettier --write

t22
  .lintstagedrc.json
Due: prettier --write

meow
  .lintstagedrc.json
Due: prettier --write

eee
  .lintstagedrc.json
Due: prettier --write

test
  src/app/(entry)/page.tsx
Due: eslint --fix, eslint, npm run check-types

test2322
  .husky/pre-commit
  src/app/(entry)/page.tsx
Due: eslint --fix, eslint, npm run check-types

final test
  src/app/(entry)/page.tsx
Due: eslint --fix, eslint, npm run check-types

Husky implementation (#1)
  .eslintrc.json
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  src/app/(entry)/page.tsx
Due: eslint --fix, eslint, npm run check-types, prettier --write

adding the basic folder structuree1
  .eslintrc.json
  .gitignore
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/(auth)/layout.tsx
  src/app/(entry)/page.tsx
  src/app/(protected)/layout.tsx
  src/app/(public)/(home)/composition.tsx
  src/app/(public)/(home)/page.tsx
  src/app/(public)/layout.tsx
  src/app/layout.tsx
Due: eslint --fix, eslint, npm run check-types, prettier --write

added error and not found
  src/app/(public)/error.tsx
  src/app/globals.css
  src/app/not-found.tsx
Due: eslint --fix, eslint, npm run check-types

made fonts work
  public/fonts/RobotoMono-VariableFont_wght.ttf
  public/fonts/Rubik-VariableFont_wght.ttf
  public/svg/next.svg
  public/svg/vercel.svg
  src/app/(public)/(home)/composition.tsx
  src/app/layout.tsx
  src/resources/fonts.ts
  tailwind.config.ts
Due: eslint --fix, eslint, npm run check-types

established a style
  public/svg/topography.svg
  src/app/(public)/(home)/composition.tsx
  src/app/(public)/_components/navigation/Navigation.tsx
  src/app/(public)/layout.tsx
  src/app/globals.css
  src/app/layout.tsx
  tsconfig.json
Due: eslint --fix, eslint, npm run check-types, prettier --write

set up the ui more or less
  public/icons/pin-icon.svg
  public/svg/nnnoise.svg
  public/svg/topography.svg
  src/app/(public)/(home)/composition.tsx
  src/app/(public)/_components/navigation/Navigation.tsx
  src/app/globals.css
  src/app/layout.tsx
Due: eslint --fix, eslint, npm run check-types

setting up scroll behaviours
  public/svg/nnnoise.svg
  src/app/(public)/(home)/composition.tsx
  src/app/(public)/_components/_elements/button/Button.tsx
  src/app/(public)/_components/navigation/Navigation.tsx
  src/app/globals.css
  src/app/layout.tsx
Due: eslint --fix, eslint, npm run check-types

basic nav finished
  public/icons/pin-icon.svg
  public/svg/topography.svg
  src/app/(public)/(home)/composition.tsx
  src/app/(public)/_components/_elements/button/Button.tsx
  src/app/(public)/_components/_elements/link/ButtonLink.tsx
  src/app/(public)/_components/navigation/Navigation.tsx
  src/app/(public)/_components/navigation/_elements/NavigationHeading.tsx
  src/app/(public)/_components/navigation/_elements/NavigationLink.tsx
  src/app/(public)/_components/navigation/_elements/NavigationLinkBar.tsx
  src/app/layout.tsx
Due: eslint --fix, eslint, npm run check-types

basic footer
  src/app/(public)/(home)/composition.tsx
  src/app/(public)/_components/footer/Footer.tsx
  src/app/(public)/_components/navigation/_elements/NavigationLink.tsx
  src/app/(public)/layout.tsx
  src/app/layout.tsx
Due: eslint --fix, eslint, npm run check-types

added basic entities
  src/domain/profile/entity/Profile.ts
  src/domain/restaurant/entity/Restaurant.ts
  src/domain/user/entity/User.ts
  tsconfig.json
Due: eslint --fix, eslint, npm run check-types, prettier --write

react query setup
  src/app/_context/react-query-provider/ReactQueryProvider.tsx
  src/app/layout.tsx
  src/domain/opening-hours/entity/OpeningHours.ts
  src/domain/opening-hours/entity/OpeningHoursDateInterval.ts
  src/domain/restaurant/entity/Restaurant.ts
  src/domain/review/entity/Review.ts
  tsconfig.json
Due: eslint --fix, eslint, npm run check-types, prettier --write

small changes
  _next/_events.json
  src/app/(public)/_components/navigation/_elements/NavigationLinkBar.tsx
  tsconfig.json
Due: eslint --fix, eslint, npm run check-types, prettier --write

remove
  _next/_events.json
Due: prettier --write

react query added
  package-lock.json
  package.json
  src/app/_context/react-query-provider/ReactQueryProvider.tsx
  src/app/layout.tsx
  src/resources/fonts.ts
Due: eslint --fix, eslint, npm run check-types, prettier --write

began making search
  src/app/(public)/(home)/_components/grid/HomeRestaurantGrid.tsx
  src/app/(public)/(home)/composition.tsx
  src/domain/opening-hours/entity/OpeningHours.ts
  src/domain/restaurant/entity/Restaurant.ts
  src/domain/restaurant/service/query-fn/fetchRestaurantByLocation.ts
Due: eslint --fix, eslint, npm run check-types

created first mock of data
  src/domain/opening-hours/schema/OpeningHoursDateIntervalSchema.ts
  src/domain/opening-hours/schema/OpeningHoursSchema.ts
  src/domain/restaurant/entity/Restaurant.ts
  src/domain/restaurant/schema/RestauranSchema.ts
  src/domain/restaurant/service/query-fn/fetchRestaurantByLocation.ts
  src/util/mock/timeoutUtil.ts
  src/util/validation/validationUtil.ts
  tsconfig.json
Due: eslint --fix, eslint, npm run check-types, prettier --write

added data randomisation
  .eslintrc.json
  package-lock.json
  package.json
  src/app/(public)/(home)/_components/_elements/input/HomeSearchInput.tsx
  src/app/(public)/(home)/_components/grid/HomeRestaurantGrid.tsx
  src/app/(public)/(home)/_components/search-form/HomeRestaurantSearchForm.tsx
  src/app/(public)/(home)/composition.tsx
  src/domain/restaurant/service/keys/RestaurantQueryKeys.ts
  src/domain/restaurant/service/query-fn/fetchRestaurantByLocation.ts
  src/util/mock/mockUtil.ts
  src/util/mock/timeoutUtil.ts
Due: eslint --fix, eslint, npm run check-types, prettier --write

added debounce
  src/app/(public)/(home)/_components/grid/HomeRestaurantGrid.tsx
Due: eslint --fix, eslint, npm run check-types

added fetch based on current location
  public/images/burger-mock-two.jpg
  public/images/burger-mock.jpg
  public/images/placeholder-restaurant.jpg
  src/app/(public)/(home)/_components/card/RestaurantCard.tsx
  src/app/(public)/(home)/_components/grid/HomeRestaurantGrid.tsx
  src/app/(public)/(home)/_components/grid/RestaurantsByAddressGrid.tsx
  src/app/(public)/(home)/_components/grid/RestaurantsByCoordinatesGrid.tsx
  src/app/(public)/(home)/_components/search-form/HomeRestaurantSearchForm.tsx
  src/app/(public)/(home)/composition.tsx
  src/app/(public)/_components/navigation/Navigation.tsx
  src/app/layout.tsx
  src/domain/image/entity/ReviewImage.ts
  src/domain/image/schema/ReviewImageSchema.ts
  src/domain/restaurant/entity/Restaurant.ts
  src/domain/restaurant/schema/RestauranSchema.ts
  src/domain/restaurant/service/keys/RestaurantQueryKeys.ts
  src/domain/restaurant/service/query-fn/fetchRestaurantByAddress.ts
Due: eslint --fix, eslint, npm run check-types

styled the form a bit
  src/app/(public)/(home)/_components/_elements/button/RestaurantSearchFormButton.tsx
  src/app/(public)/(home)/_components/_elements/input/RestaurantSearchInput.tsx
  src/app/(public)/(home)/_components/grid/RestaurantsByCoordinatesGrid.tsx
  src/app/(public)/(home)/_components/search-form/RestaurantSearchForm.tsx
  src/app/(public)/(home)/composition.tsx
  src/app/(public)/_components/_elements/link/ButtonLink.tsx
Due: eslint --fix, eslint, npm run check-types

added ui for sorting
  src/app/(public)/(home)/_components/_elements/button/RestaurantSearchFormButton.tsx
  src/app/(public)/(home)/_components/_elements/input/RestaurantSearchInput.tsx
  src/app/(public)/(home)/_components/_elements/input/RestaurantSortRadio.tsx
  src/app/(public)/(home)/_components/search-form/RestaurantSearchForm.tsx
  src/app/(public)/_components/_elements/link/ButtonLink.tsx
  src/app/(public)/_components/navigation/_elements/NavigationHeading.tsx
Due: eslint --fix, eslint, npm run check-types

finished mocking sorting
  src/app/(public)/(home)/_components/grid/RestaurantsByAddressGrid.tsx
  src/app/(public)/(home)/_components/grid/RestaurantsByCoordinatesGrid.tsx
  src/app/(public)/(home)/_components/search-form/RestaurantSearchForm.tsx
  src/app/(public)/(home)/composition.tsx
  src/domain/restaurant/service/query-fn/fetchRestaurantByAddress.ts
  src/domain/restaurant/service/query-fn/fetchRestaurantByLocation.ts
Due: eslint --fix, eslint, npm run check-types

fixed loading states and added placeholders
  public/svg/tiny-checkers.svg
  src/app/(public)/(home)/_components/card/placeholder/RestaurantCardPlaceholder.tsx
  src/app/(public)/(home)/_components/grid/RestaurantsByAddressGrid.tsx
  src/app/(public)/(home)/_components/grid/RestaurantsByCoordinatesGrid.tsx
  src/app/(public)/(home)/_components/search-form/RestaurantSearchForm.tsx
  src/app/(public)/(home)/composition.tsx
  src/app/globals.css
  src/app/layout.tsx
Due: eslint --fix, eslint, npm run check-types

styled cards
  public/icons/outline-star.svg
  public/icons/person-walking-solid.svg
  public/icons/pin-icon.svg
  public/icons/solid-star.svg
  src/app/(public)/(home)/_components/card/RestaurantCard.tsx
  src/app/(public)/(home)/_components/card/widget/DistanceWidget.tsx
  src/app/(public)/(home)/_components/card/widget/OpenHoursWidget.tsx
  src/app/(public)/(home)/_components/card/widget/RatingWidget.tsx
  src/domain/restaurant/entity/Restaurant.ts
  src/domain/restaurant/schema/RestauranSchema.ts
  src/domain/restaurant/service/query-fn/fetchRestaurantByAddress.ts
  src/domain/restaurant/service/query-fn/fetchRestaurantByLocation.ts
Due: eslint --fix, eslint, npm run check-types

optimised
  src/app/(public)/(home)/_components/_elements/input/RestaurantSearchInput.tsx
  src/app/(public)/(home)/_components/_elements/input/RestaurantSortRadio.tsx
  src/app/(public)/(home)/_components/grid/RestaurantGrid.tsx
  src/app/(public)/(home)/_components/grid/RestaurantsByAddressGrid.tsx
  src/app/(public)/(home)/_components/grid/placeholder/RestaurantGridPlaceholder.tsx
  src/app/(public)/(home)/_components/search-form/RestaurantSearchForm.tsx
  src/app/(public)/(home)/composition.tsx
  src/domain/restaurant/service/query-fn/fetchRestaurantByAddress.ts
  src/domain/restaurant/service/query-fn/fetchRestaurantByLocation.ts
Due: eslint --fix, eslint, npm run check-types

home is responsive
  src/app/(public)/(home)/_components/card/RestaurantCard.tsx
  src/app/(public)/(home)/_components/card/widget/DistanceWidget.tsx
  src/app/(public)/(home)/_components/card/widget/OpenHoursWidget.tsx
  src/app/(public)/(home)/_components/grid/RestaurantGrid.tsx
  src/app/(public)/(home)/_components/search-form/RestaurantSearchForm.tsx
  src/app/(public)/(home)/composition.tsx
  src/app/(public)/_components/footer/Footer.tsx
  src/app/(public)/_components/navigation/Navigation.tsx
  src/app/(public)/_components/navigation/_elements/NavigationHeading.tsx
  src/app/(public)/_components/navigation/_elements/NavigationLink.tsx
  src/app/(public)/_components/navigation/_elements/NavigationLinkBar.tsx
Due: eslint --fix, eslint, npm run check-types

finished login ui
  package-lock.json
  package.json
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/_components/_elements/FormButton.tsx
  src/app/(auth)/login/_components/_elements/FormEmaiInput.tsx
  src/app/(auth)/login/_components/_elements/FormInput.tsx
  src/app/(auth)/login/_components/_elements/FormPasswordInput.tsx
  src/app/(auth)/login/composition.tsx
  src/app/(auth)/login/page.tsx
  src/app/(public)/_components/navigation/_elements/NavigationLinkBar.tsx
  src/app/api/[...nextauth]/route.ts
  src/app/api/auth/register/route.ts
Due: eslint --fix, eslint, npm run check-types, prettier --write

created register page
  src/app/(auth)/_components/FormButton.tsx
  src/app/(auth)/_components/FormEmaiInput.tsx
  src/app/(auth)/_components/FormInput.tsx
  src/app/(auth)/_components/FormPasswordInput.tsx
  src/app/(auth)/login/_components/_elements/FormButton.tsx
  src/app/(auth)/login/page.tsx
  src/app/(auth)/register/composition.tsx
  src/app/(auth)/register/page.tsx
  src/app/(public)/(home)/page.tsx
  src/app/(public)/_components/navigation/_elements/NavigationLinkBar.tsx
  src/domain/user/entity/User.ts
Due: eslint --fix, eslint, npm run check-types

auth works
  src/app/(auth)/login/_components/LoginForm.tsx
  src/app/(auth)/login/composition.tsx
  src/app/(auth)/register/_components/RegisterForm.tsx
  src/app/(auth)/register/composition.tsx
  src/app/api/[...nextauth]/route.ts
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/auth/register/route.ts
  src/domain/auth/dto/LoginDto.ts
  src/domain/auth/dto/RegisterDto.ts
  src/domain/auth/mutation-fn/loginUser.ts
  src/domain/auth/mutation-fn/registerUser.ts
  src/domain/auth/schema/LoginSchema.ts
  src/domain/auth/schema/RegisterSchema.ts
Due: eslint --fix, eslint, npm run check-types

logged out and updated nav
  src/app/(auth)/login/composition.tsx
  src/app/(public)/_components/_elements/button/NavigationButton.tsx
  src/app/(public)/_components/navigation/_elements/NavigationHeading.tsx
  src/app/(public)/_components/navigation/_elements/NavigationLinkBar.tsx
  src/app/(public)/_components/navigation/_elements/NavigationUserLinks.tsx
Due: eslint --fix, eslint, npm run check-types
